@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #8d94f5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 300px;
  position: relative;
  transition: all 0.3s ease-out;
  background: radial-gradient(#111 50%, #000 100%);
}

.movie-card .options {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4.5rem 4.5rem;
  width: 100%;
  max-height: 100%;
}

.movie-card img {
  width: 100%;
  height: 103%;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.movie-card:hover img {
  transform: scale(1.2) ;
  opacity: 0.4;
}

.movie-card .options button {
  color: #fff;
  background: #2ea6e7;
  padding: 10px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  width: 10rem;
  border-width: 0;
  letter-spacing: 0.5px;
  margin: 0 0 20px;
  opacity: 0;
  font-family: inherit;
}

.movie-card:hover .options button {
  opacity: 1;
}

.movie-card .options button:hover {
  background: #0a83c5;
}