@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Search Box ====================== */

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #8d94f5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

/* ====================== Movie Card ====================== */

.movie-card {
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  width: 300px;
  position: relative;
  transition: all 0.3s ease-out;
  background: radial-gradient(#111 50%, #000 100%);
}

.movie-card .options {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4.5rem 4.5rem;
  width: 100%;
  max-height: 100%;
}

.movie-card img {
  width: 100%;
  height: 103%;
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.movie-card:hover img {
  transform: scale(1.2);
  opacity: 0.4;
}

.movie-card .options button {
  color: black;
  background: #2abae6;
  padding: 10px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  width: 10rem;
  border-width: 0;
  letter-spacing: 0.5px;
  margin: 0 0 20px;
  opacity: 0;
  font-family: inherit;
}

.movie-card:hover .options button {
  opacity: 1;
}

.movie-card .options button:hover {
  background: #0a83c5;
  cursor: pointer;
}

/* ====================== Review Modal ====================== */

#modal,
#details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  border: 1px solid #666;
  border-radius: 10px;
  background-color: #eee;
}

#modal.show,
#details-modal.show {
  display: flex;
  z-index: 3;
}

#modal.show #review-form {
  padding: 0 20px 20px 20px;
}

#modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}

#modal-overlay.show {
  display: block;
  opacity: 0.5;
}

.close-btn {
  align-self: flex-end;
  font-size: 1.4em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}

#modal input[type="radio"] {
  box-shadow: none;
}

.close-btn:hover {
  border: none;
  border-radius: none;
  box-shadow: none;
  background: #0a83c5;
}

#review-name,
.rate,
#review-content,
button.close-btn,
#submit-review-btn {
  background: #f9f9f9;
  border: 2px solid #e1e1e1e0;
  border-radius: 8px;
  box-shadow: inset 0 2px 2px #e1e1e1e0;
  font-size: 16px;
  padding: 8px;
}

button#review-add-btn,
button.close-btn,
button#submit-review-btn {
  min-width: 40px;
  min-height: 40px;
}

button#submit-review-btn {
  font-weight: bold;
  cursor: pointer;
  padding: 0 16px;
}

.fieldset {
  margin-top: 20px;
}

div#submit-btn {
  align-self: flex-end;
}

#review-form-container {
  width: 100%;
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}

#review-form-container h2 {
  margin: 0 0 0 6px;
}

#review-form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

#review-form label,
#review-form input {
  display: block;
}

#review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#review-form .rate label,
#review-form .rate input {
  display: inline-block;
}

.rate {
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
}

#review-form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
}

.rate:not(:checked) > input {
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked) > label::before {
  content: "★ ";
  position: relative;
  top: -10px;
  left: 2px;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate > input:checked:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}

.rate > input:checked + label:hover {
  color: #c59b08;
}

/* ====================== Details modal ====================== */

#details-modal {
  max-width: 600px;
  max-height: 80%;
  overflow: auto;
}

#details-modal h3,
#details-modal h4,
#details-modal h5 {
  margin: 0;
}

#title-container {
  color: #000;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  letter-spacing: 0.4px;
  border-bottom: 1px solid rgb(126, 116, 116);
  border-bottom-style: ridge;
}

#title-container span {
  background-color: #22254b;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}

#title-container span.green {
  color: green;
}

#title-container span.orange {
  color: orange;
}

#title-container span.red {
  color: red;
}

#movie-overview {
  padding: 2rem;
}

#reviews {
  padding: 0 2rem 0 2rem;
  overflow-y: auto;
}

#reviews h3 {
  width: 125px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.review-container {
  margin-bottom: 1.5rem;
  border: 0;
}

.review-content {
  margin: 0.75rem 0 0.75rem;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ccc;
}

.review-footer i {
  margin: 0;
  padding: 0;
}

.review-stars {
  color: #deb217;
}

.fas.fa-trash:hover {
  cursor: pointer;
}

/* ====================== Smarthphones ====================== */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #details-modal,
  #modal {
    min-width: 80%;
    max-height: 80%;
    top: 20%;
    left: 30%;
    bottom: 20%;
    transform: translate(-25%, -30%);
  }
}
